*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: arial, sans-serif;
    line-height: 1.6;
    position: relative;
    min-height: 100vh;
}

/* NAVIGATION BAR */
nav{
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

nav div a{
    text-decoration: none;
    padding: 12px;
}

nav div a:hover{
    text-decoration: underline;
}

nav div{
    display: flex;
    width: 50%;
    align-items: center;
}

#nav_left{
    justify-content: start;
}

#nav_right{
    justify-content: flex-end;
}

#nav_left a{
    font-size: 14px;
    color: #222;
}

#nav_right a {
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    padding: 10px;
}

#app_button:hover{
    border-radius: 50%;
    max-width: 30px;
    background-color: grey;
}

nav #github_link {
    border-radius: 50%;
    max-width: 30px;
}


/* MAIN: SEARCH BAR */

#search_bar{
    display: block;
    border: 1px solid rgba(196, 196, 196, 100);
    border-radius: 3em;
    align-items: center;
    justify-items: center;
}

#search_bar:hover, #search_bar:active{
    box-shadow: 0px 0px 5px rgba(196, 196, 196, 1);
}

#search_box{
    border: none;
}
#search_box:active{
    border: none;
}

.buttons{
    cursor:pointer;
    border: none;
    padding: 10px 10px;
    border-radius: 0.3em;
}
.buttons:hover{
    border: solid 0.5px rgba(196, 196, 196, 1);
    box-shadow: 0px 0px 1px rgba(196, 196, 196, 1);
}

/* FOOTER */

.footer {
    position: absolute;
    background-color: #f2f2f2;
    border-bottom: 1px solid rgb(209, 209, 209);
    width: 100vw;
    height: 70px;
    color: #70757a;
    font-size: 14px;
    bottom: 0;
    left: 0;

}

.footer a:hover{
    text-decoration: underline; 
}

/* top footer */
#footer1 {
    display: flex;
    justify-content: start;
    line-height: 15px;
}

#footer


/* bottom footer */
#footer2 {
    display: flex;
    /* padding: 12px 30px; */
    align-items: center;
    border: none;
}

#footer2 div{
    display:flex; 
    width: 50%;
    border: none;
}


#footer2_left{
    justify-content: start;
}

#footer2_right{
    justify-content: flex-end;
}

#footer2 a{
    text-decoration: none;
    color: #70757a;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
}

#footer2 a:hover{
    text-decoration: underline;
}

