html{
    font-family: arial, sans-serif;
    line-height: 1.6;
    position: relative;
    min-height: 100%;
}

#navbar{
    display: flex;
    align-items: center;

}

nav a{
    text-decoration: none;
}

#nav_left{
    justify-items: start;
}

nav_right{
    justify-items: flex-end;
}

#nav_left a{
    font-size: 14px;
    color: #222;

}

#nav_right a{
    font-size: 13px;
    color: rgba(0,0,0,0.87);

}

nav a:hover{
    text-decoration: underline;
}

#app_button:hover{
    border-radius: 50%;
    max-width: 30px;
    background-color: grey;
}

nav #github_link {
    border-radius: 50%;
    max-width: 30px;
}

#search_bar{
    display: block;
    border: 1px solid rgba(196, 196, 196, 100);
    padding: 2px;
    border-radius: 3em;
    align-items: center;
    justify-items: center;
}

#search_bar:hover, #search_bar:active{
    box-shadow: 0px 0px 5px rgba(196, 196, 196, 1);
}

#search_box{
    border: none;
}
#search_box:active{
    border: none;
}



.buttons{
    cursor:pointer;
    border: none;
    padding: 10px 10px;
    border-radius: 0.3em;
}
.buttons:hover{
    border: solid 0.5px rgba(196, 196, 196, 1);
    box-shadow: 0px 0px 1px rgba(196, 196, 196, 1);
}


.footers {
    background-color: rgb(214, 214, 214);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0px 10px 0px;
}

.footers a:hover{
    text-decoration: underline; 
}

#footer1 a{
    text-decoration: none;
    color: rgba(0,0,0,0.54);
    font-size: 15px;
}

#footer2 a{
    text-decoration: none;
    color: #70757a;;
    font-size: 14px;
}
