*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: arial, sans-serif;
    line-height: 1.6;
    position: relative;
    min-height: 100vh;
}

/* NAVIGATION BAR */
nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

nav div a{
    text-decoration: none;
    margin: 15px;
}

nav div a:hover{
    text-decoration: underline;
}

nav div{
    display: flex;
    width: 50%;
    align-items: center;
}

#nav_left{
    justify-content: start;
}

#nav_right{
    justify-content: flex-end;
}

#nav_left a{
    font-size: 14px;
    color: #222;
}

#nav_right a {
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    margin-right: 5px;
}

#app_button{
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
}

#icon_app{
    width: 24px;
    fill:rgba(90, 90, 90,1);
}
#app_button:hover{
    background-color: rgb(240, 240, 240);

}

nav #github_link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


/* MAIN: SEARCH BAR */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

#logo{
    margin-bottom: 26px;
}

#search_bar{
    color: rgb(224, 224, 224);
    display: flex;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    width: 90vw;
    max-width: 584px;
    height: 45px;
}

#search_bar:hover, #search_bar:active, #search_bar:focus-within{
    box-shadow: 0px 0px 5px rgba(210, 210, 210,1);
}

#icon_search{
    width: 22px;
    align-self: center;
    margin-right: 10px;
    fill:rgb(145, 145, 145);
}

#search_box{
    height: 100%;
    width: 100%;
    border: 1px solid #e1e1e100;
    font-size: initial;
}

#search_box:hover, #search_box:active, #search_box:focus{
    outline: none;
}

#icon_mic{
    width: 28px;
    height: auto;
    margin-left: 10px;
}

/* buttons */

#submit_buttons{
    margin: 30px;
}

#submit_buttons a{
    text-decoration: none;
}

.buttons{
    appearance: none;
    display: inline-block;
    cursor:pointer;
    border: none;
    height: 34px;
    /* padding: 0px 16px;
    margin: 0px 4px; */
    border-radius: 0.3em;
    background-color: #f8f9fa;
    color: #3c4043;
    overflow: hidden;
	width: 144px;
}

.buttons:hover{
    border: solid 0.5px rgba(196, 196, 196, 1);
    box-shadow: 0px 0px 1px rgba(196, 196, 196, 1);
}

.spinny_button ul{
    margin-top:0;
    padding:0;
    list-style:none;
    transition:margin-top .45s ease-in-out;
}

.spinny_button ul li {
    display:block;
    height:55px;
    padding:0.7em;
    text-align: center;
    font-size: 14px;
}



/* FOOTER */

.footer {
    position: absolute;
    flex: 0 0 auto;
    background-color: #f2f2f2;
    width: 100%;
    height: 100px;
    color: #70757a;
    font-size: 14px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

.footer a:hover{
    text-decoration: underline; 
}

/* top footer */
#footer1 {
    display: block;
    font-size: 15px;
    padding: 12px 20px;
    justify-content: start;
    border-bottom: 1px solid rgb(220, 220, 220);
}


/* bottom footer */
#footer2 {
    display: flex;
    border: none;
    box-sizing: border-box;
}

#footer2 div{
    display:flex; 
    border: none;
    align-items: center;
    margin: 12px 0px;
}

#footer2_left{
    justify-content: start;
    width: 50%;
}

#footer2_right{
    justify-content: flex-end;
    width: 50%;
}

#footer2 a{
    text-decoration: none;
    color: #70757a;
    font-size: 14px;
    margin: 0px 20px;
}

#footer2 a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 650px){
    .footer {
        height: 135px;
    }
    
    /* bottom footer */
    #footer2 {
        display: block;
        border: none;
        box-sizing: border-box;
    }
    
    #footer2 div{
        padding: 5px 0px;
    }

    #footer2_left{
        justify-content: center;
        width: 100%;
    }
    
    #footer2_right{
        justify-content: center;
        width: 100%;

    }
}